{% extends "Base.html" %}
{% block content %}	
<!-- display error model if user try to delete not his posts or not his comments_-->
    <div class="modal fade" id="error-modal" role="dialog">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Error</h4>
				</div>
				<div class="modal-body">
				  <h3 class="modal-message text-center">You can only edit or delete your posts</h3>
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
<!-- display warning message whey user try to delete his posts or his comment_-->
	<div class="modal fade" id="warning-modal" role="dialog">
        <div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">Warning</h4>
				</div>
				<div class="modal-body">
				  <h3 class="modal-warning-msg text-center">Are you sure you want delete this post?</h3>
				</div>
				<div class="modal-footer">
					<form method="POST">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="confirm btn btn-primary" name="delete-blog" value="Delete">
						<input type="hidden" name="blog-id">
						<input type="hidden" name="comment-id">
						<input type="hidden" name="user-id">	
					</form>
				</div>
			</div>
		</div>
	</div>
<!-- modal for editblog_-->
	<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Edit Blog</h4>
				</div>
				<form class="form-horizontal" method="POST">
					<div class="modal-body">							
						<div class="form-group">
							<label class="col-sm-2 control-label">Subject</label>
							<div class="col-sm-10">
								<input class="form-control" name="edit-subject" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">Blog</label>
							<div class="col-sm-10">
								<textarea name="edit-artical" class="form-control"  rows="20"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary" name="edit-blog" value="Edit">
						<input type="hidden" name="blog-id">
						<input type="hidden" name="user-id" >
					</div>
				</form>
			</div>
		</div>
	</div>
<!-- modal when user try to edit comment_-->
	<div class="modal fade" id="editcomment-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<h4 class="modal-title">Edit Comment</h4>
				</div>
				<form class="form-horizontal" method="POST">
					<div class="modal-body">							
						<div class="form-group">
							<label class="col-sm-2 control-label">Comment</label>
								<div class="col-sm-10">
									<textarea name="edit-comment" class="form-control"  rows="2"></textarea>
								</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
						<input type="submit" class="btn btn-primary"  value="Edit">
						<input type="hidden" name="comment-id">
						<input type="hidden" name="user-id" >
					</div>
				</form>
			</div>
		</div>
	</div>
			
{% for BlogModel in blogs %}	
	<div class="row">
		<div class="col-md-8">
			<h4><p class="subject">{{BlogModel.subject}}</p></h4>
		</div>
		<div class="col-md-4">
			<p class="date" align="right">By {{BlogModel.user_name}} in {{BlogModel.created}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<p id="artical">{{BlogModel.artical}}</p>
		</div>
	{% if BlogModel.user_id == user_id %}
		<div class="col-md-4" >
			<button data-toggle="modal" data-target="#edit-modal" type="button" class="edit-blog btn btn-success  btn pull-right">
				<span class="glyphicon glyphicon-pencil"></span>
				<div class="hidden blog-id">{{BlogModel.key().id()}}</div>
				<div class="hidden subject">{{BlogModel.subject}}</div>
				<div class="hidden blog">{{BlogModel.artical}}</div>
				<div class="hidden user-id">{{BlogModel.user_id}}</div>
			</button>
			<button type="button" data-toggle="modal" data-target="#warning-modal" class="delete-blog btn btn-danger btn pull-right">
				<span class="glyphicon glyphicon-remove"></span>
				<div class="hidden blog-id">{{BlogModel.key().id()}}</div>
				<div class="hidden user-id">{{BlogModel.user_id}}</div>
			</button>
		</div>
	{% else %}
		<div class="col-md-4" >
			<button data-toggle="modal" data-target="#error-modal" type="button" class="edit-blog btn btn-success  btn pull-right">
				<span class="glyphicon glyphicon-pencil"></span>
			</button>
			<button type="button" data-toggle="modal" data-target="#error-modal" class="delete-blog btn btn-danger btn pull-right">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>
	{% endif %}
	</div>	
	<div class="row">
		<div class="col-md-12">
			<legend></legend>
		</div>
	</div>
{% if comments %}
   	{% for CommentModel in comments %}
		{% if (CommentModel.blog_id) == BlogModel.key().id()|string %}
			<div class="row">
                <div class="col-md-8">
                    <div class="comments-list">
                        <div class="media">
                            <div class="media-body">
                              <h4 class="media-heading user_name">{{CommentModel.user_name}} has post a comment :</h4>
								<p class="comment">{{CommentModel.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
				{% if CommentModel.user_id == user_id %}
					<div class="col-md-4">
						<button data-toggle="modal" data-target="#editcomment-modal" type="button" class="edit-comment btn btn-default  btn pull-right">
							<span class="glyphicon glyphicon-pencil"></span>
							<div class="hidden comment">{{CommentModel.content}}</div>
							<div class="hidden comment-id"	>{{CommentModel.key().id()}}</div>
							<div class="hidden user-id"	>{{CommentModel.user_id}}</div>
						</button>
						<button type="button" data-toggle="modal" data-target="#warning-modal" class="delete-comment btn btn-default btn pull-right">
							<span class="glyphicon glyphicon-remove"></span>
							<div class="hidden comment-id">{{CommentModel.key().id()}}</div>
							<div class="hidden user-id"	>{{CommentModel.user_id}}</div>
						</button>
					</div>
				{% else %}
					<div class="col-md-4" >
						<button data-toggle="modal" data-target="#error-modal" type="button" class="edit-comment btn btn-default  btn pull-right">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button type="button" data-toggle="modal" data-target="#error-modal" class="delete-comment btn btn-default btn pull-right">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</div>
				{% endif %}
			</div>	
		{% endif %}
	{% endfor %}
{% endif %}
	{% for LikeModel in likes %}
		{% if (LikeModel.blog_id) == BlogModel.key().id()|string %}
			<div class="row">
				<div class="likes col-md-12">
					<p>{{LikeModel.number_likes}} Likes this blog</p>
				</div>
			</div>
		{% endif %}
	{% endfor %}
	<div class="row">
		<form method="POST">
			<div class= "col-md-12">
				<div class="form-group">
					<label for="comment">Comment:</label>
						<textarea class="form-control" name="comment" rows="2" id="comment"></textarea>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<input class="btn-info btn-lg" type="submit" value="PostComment">
				</div>
					<input type="hidden" name="blog-id" value={{BlogModel.key().id()}} >
			</div>
		</form>
		<div class="col-md-6" >
			<form method="POST" id="like">
				<input type="hidden" name="blog-id" value={{BlogModel.key().id()}} >
				<input type="hidden" name="user-id" value={{BlogModel.user_id}} >
					{% if BlogModel.user_id == user_id %}	<!-- check if user want to like his post -->
						<input type="submit"  class="like-btn btn btn-primary btn-lg disabled" value="You cant like your posts">
					{% else %}
						{% if users_id %} <!--- if there the user already like a post change sumbit button-->
							{% if users_id.pop() == user_id and blogs_id.pop() == BlogModel.key().id()|string and is_liked.pop() %}
								<input type="submit" name="onClickUnLike" class="like-btn btn btn-primary btn-lg Active" value="unLike">
							{% else %} 	  <!--- else user can like post -->
								<input type="submit"  name="onClickLike" class="like-btn btn btn-primary btn-lg Active" value="Like">
							{% endif %}
						{% else %} <!--- default case if the post no one like it --->
							<input type="submit"  name="onClickLike" class="like-btn btn btn-primary btn-lg Active" value="Like">
						{% endif %}
					{% endif %}
			</form>
		</div>
	</div>

	
{% endfor %}
{% endblock %}